.course-card  {
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    margin: 10px;
}

.left-part {

}

.right-part {
    
}

.description {
    width: 500px;
}

.course-authors {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 130px;
}